*{
    margin: 0;
    padding: 0; 
}
body{
    width: 1000px;;
    margin-left: 20px;
}

#screen{
    height: 100px;
    width: 500px;
    border: solid 1px red;
}
.key{
    display: inline-block;
    height: 50px;
    width: 101px;
    border-radius: 10px;
    border: solid 1px black;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
}
#keyboard{
    width: 500px;
    height: 400px;
    border: solid 1px blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}